target

# Specific files that should not be considered
grails-app/conf/DataSourcePerEnvironment.groovy
grails-app/conf/JabberBot.groovy
grails-app/conf/EmailNotificationsConfig.groovy

# IDE-specific
target-eclipse
web-app/WEB-INF/classes/
