<style>
</style>
<title>Project Guide - FDV Solutions</title><div align="left" style="font-weight: lighter; font-size: 10pt; width: 600px; background-color: #000000; padding: 4px">
  <table border="0" width="600" align="center" bgcolor="#000000">
    <tbody>
      <tr>
        <th height="209" align="center" scope="row"><div align="center"><img src="http://www.fdvsolutions.com.ar/ejemplos/images/email/head.jpg" alt="Project Guide" width="600" height="209" /></div></th>
      </tr>
      <tr>
        <th height="209" align="left" valign="top" scope="row"><div align="center">
            <span style="color: #ABC049;font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif;font-weight: normal;">Bienvenido </span>
            <span style="color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;">${name}</span>
            <span style="color: #ABC049;font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif;font-weight: normal;"> a Project Guide</span>
        </div>
          <p align="center" style="color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;">Tu cuenta <a href="mail_es.html#">&quot;${account}&quot;</a> ha sido creada.</p>
          <p align="center" style="color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;">Te pedimos que por favor la actives ingresando <a href="${linkHash}">AQU&Iacute;</a></p>
          <table width="466" height="251" border="0" align="center" bgcolor="#141414">
            <tr>
              <th width="254" height="247" scope="row"><div align="justify">
                <p align="center" style="color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;">Al activar tu cuenta de </p>
                <p align="center" style="color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;"><span style="color:#ABC049;">Project Guide</span></p>
                <p align="center" style="color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;">podr&aacute;s comenzar a trabajar v&iacute;a chat</p>
                <p align="center" style="color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;"> con tu compa&ntilde;era de proyectos Jenna</p>
                <p align="center" style="color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;"> agregando esta direcci&oacute;n</p>
                <p align="center" style="color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;"> <strong><a href="${accountToAdd}">${accountToAdd}</a></strong> </p>
                <p align="center" style="color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;">a tu chat!</p>
              </div></th>
              <th width="202" bgcolor="#FFFFFF" scope="row"><div align="right"><img src="http://www.fdvsolutions.com.ar/ejemplos/images/email/jenna.jpg" alt="Jenna" width="196" height="245" /></div></th>
            </tr>
          </table>
          <p align="center" style="color: #ABC049;font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif;font-weight: normal;">
              <strong>Confiamos en que con Project Guide  alcanzar&aacute;s el &eacute;xito deseado <br />
            en cada uno de tus proyectos!</strong>
          </p>
          <table border="0" width="519" height="896" align="left">
        </table></th>
      </tr>
      
      <tr>
        <th valign="middle" bgcolor="#141414" scope="row"><a href="http://fdvsolutions.com/" target="_blank">FDV SOLUTIONS</a></th>
      </tr>
    </tbody>
  </table>
</div>
